<div>
  {% for room in rooms %}
  <div>
    {% if room.host == request.user %}
    <!--   it will throw error if you give without space between the room.host==request.user -->
    <a href="{% url 'update-room'  room.id %}">Edit</a>
    <a href="{% url 'delete-room'  room.id %}">Delete</a>
    {% endif %}
    <p>{{room.host.username}}</p>
    <a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a>
    <h5>{{room.id}} --<a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
    <small>{{room.topic.name}}</small>
    <hr />
    <!-- same as above code  <h5> {{room.id}} --<a href="/room/{{room.id}}">{{room.name}}</a></h5> -->
  </div>
  {% endfor %}
</div>
